<!DOCTYPE html>
<html>
  <head>
    <title>Our Services</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <h1>Our Services</h1>
  </body>
</html>
